Repository orchestratora/orchestrator, pull requests merged in 2018-12, with the labels that each got.

#13 feat(core): upgrade angular to v7
  libs/core/package.json
  package-lock.json
  package.json
Labels: comp: core, type: feature

#10 feat(layout): flat layout introduction
  .gitignore
  angular.json
  libs/core/src/lib/orchestrator/orchestrator.component.html
  libs/core/src/lib/orchestrator/orchestrator.component.spec.ts
  libs/core/src/lib/render-item/render-item.component.spec.ts
  libs/core/src/lib/test/index.ts
  libs/core/src/public_api.ts
  libs/layout/ng-package.json
  libs/layout/package.json
  libs/layout/src/lib/flex/flex-direction.directive.spec.ts
  libs/layout/src/lib/flex/flex-direction.directive.ts
  libs/layout/src/lib/flex/flex-wrap.directive.spec.ts
  libs/layout/src/lib/flex/flex-wrap.directive.ts
  libs/layout/src/lib/flex/index.ts
  libs/layout/src/lib/layout-flat/layout-flat-config.spec.ts
  libs/layout/src/lib/layout-flat/layout-flat-config.ts
  libs/layout/src/lib/layout-flat/layout-flat.component.css
  libs/layout/src/lib/layout-flat/layout-flat.component.html
  libs/layout/src/lib/layout-flat/layout-flat.component.spec.ts
  libs/layout/src/lib/layout-flat/layout-flat.component.ts
  libs/layout/src/lib/layout.module.spec.ts
  libs/layout/src/lib/layout.module.ts
  libs/layout/src/lib/types.ts
  libs/layout/src/public_api.ts
  libs/layout/src/test.ts
  libs/layout/tsconfig.lib.json
  libs/layout/tsconfig.spec.json
  libs/layout/tslint.json
  libs/layout/yarn.lock
  nx.json
  package-lock.json
  package.json
  test.ts
  tsconfig.json
Labels: comp: layout, type: feature

#16 feat(core): resolve dynamic components by it's metadata
  libs/core/src/lib/component-locator/component-locator.service.spec.ts
  libs/core/src/lib/component-locator/component-locator.service.ts
Labels: comp: core, type: feature

#19 chore(layout): change orcFlex to orcFx
  libs/layout/src/lib/flex/flex-align-content.directive.spec.ts
  libs/layout/src/lib/flex/flex-align-content.directive.ts
  libs/layout/src/lib/flex/flex-align-items.directive.spec.ts
  libs/layout/src/lib/flex/flex-align-items.directive.ts
  libs/layout/src/lib/flex/flex-direction.directive.spec.ts
  libs/layout/src/lib/flex/flex-direction.directive.ts
  libs/layout/src/lib/flex/flex-justify-content.directive.spec.ts
  libs/layout/src/lib/flex/flex-justify-content.directive.ts
  libs/layout/src/lib/flex/flex-wrap.directive.spec.ts
  libs/layout/src/lib/flex/flex-wrap.directive.ts
  libs/layout/src/lib/layout-flat-host/layout-flat-host.component.html
Labels: comp: layout, type: refactor

#21 [Feat] Default config metadata
  libs/core/src/lib/component-locator/component-locator.service.spec.ts
  libs/core/src/lib/component-locator/component-locator.service.ts
  libs/core/src/lib/metadata/dynamic-component.ts
  libs/core/src/lib/metadata/index.ts
  libs/core/src/lib/metadata/util.ts
  libs/core/src/lib/orchestrator/orchestrator.component.ts
  libs/core/src/lib/render-item/injector-registry.service.ts
  libs/core/src/lib/render-item/render-item.component.spec.ts
  libs/core/src/lib/render-item/render-item.component.ts
  libs/core/src/public_api.ts
  libs/layout/src/lib/layout-flat-host/layout-flat-config.spec.ts
  libs/layout/src/lib/layout-flat-host/layout-flat-config.ts
  libs/layout/src/lib/layout-flat-host/layout-flat-host.component.html
  libs/layout/src/lib/layout-flat-host/layout-flat-host.component.spec.ts
  libs/layout/src/lib/layout-flat-host/layout-flat-host.component.ts
Labels: comp: core, comp: layout, type: feature

#23 [Feat] Add support for attributes and classes to every dynamic item
  libs/core/package.json
  libs/core/src/lib/render-item/render-item.component.html
  libs/core/src/lib/render-item/render-item.component.spec.ts
  libs/core/src/lib/render-item/render-item.component.ts
  libs/core/src/lib/types.ts
  package-lock.json
  package.json
Labels: comp: core, type: feature
